@import '../../config.scss';

.Hproducts {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}

.Hproduct {
    margin: 0.5rem;
    margin-top: 2rem;
}

.Hdesc {
    max-width: 450px;
    display: flex;
    justify-content: space-between;
}

.buttonCat {
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 15rem;
    margin-left: 0.5rem;
    padding: 5px 10px;
    font-family: "Open Sans", helvetica, arial, sans-serif;
    font-size: 1rem;
    color: #eee;
    text-align: center;
    cursor: pointer;
    background-color: #222;
    border: 1px solid #222;
    border-radius: 4px;
}

.buttonCat:hover {
    filter:invert(100%)
}

.Hdesc > h1 {
    font-size: 1rem;
}

.Hdesc > h2 {
    font-size: 2rem;
}

.Htitle > h2 {
    margin-top: 1rem;
}

