@import '../../config.scss';

.Hproducts {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}

.Hproduct {
    margin: 0.5rem;
    margin-top: 2rem;
}

.Hdesc {
    max-width: 450px;
    display: flex;
    justify-content: space-between;
}

.buttonCat {
    font-family: "Open Sans", helvetica, arial, sans-serif;
    min-width: 10rem;
    min-height: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: black;
    color: white;
    cursor: pointer;
}

.buttonCat:hover {
    filter:invert(100%)
}

.Hdesc > h1 {
    font-size: 1rem;
}

.Hdesc > h2 {
    font-size: 2rem;
}

.Htitle > h2 {
    margin-top: 1rem;
}

