@import '../../config.scss';

.home {
}

.Hproducts {
    display: flex;
    flex-wrap: wrap;
}

.Hproduct {
    margin: 0.5rem;
    margin-top: 2rem;
}

.Hdesc {
    max-width: 450px;
    display: flex;
    justify-content: space-between;
}

.Hdesc > h1 {
    font-size: 1rem;
}

.Hdesc > h2 {
    font-size: 2rem;
}

.Htitle > h2 {
    margin-top: 1rem;
}

