@import '../../config.scss';

.productDetails {

}

.categoryinn {
  width: 100px;
  font-size: 32px
}

.category {
  margin-left: 20px;
  margin-right: 20px;
}

.categories {
  display: flex;
  flex-direction: row;
}
