@import '../../config.scss';

.header {
    display: flex;
    background-color: $color-font;
    
}
.header__content {
    display: flex;
    margin: $gutter;
    flex-flow: row wrap;
    justify-content: flex-end;
}


