@import '../../config.scss';

.header {
    display: flex;
    background-color: $color-font;

}
.header__content {
    display: flex;
    margin: $gutter;
    justify-content: space-between;
    width: -webkit-fill-available;
}

.header__links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 13rem;
}

a {
    padding-left: 1rem;
    color: white;
    text-decoration: none;
}
